header {
	text-align: center;
	background: black;
	color:#0F0;
	padding: 20px 0;
	margin: 0 auto 20px auto;
}
ul {													/*sets index names to appear side by side*/
	list-style: none;
}
	ul > li {
		float: left;
	}
figure {												/*sets size of link figures to websites*/
	width: 200px;
	margin: 20px 100px;
}
	figure img {										/*sets the image to be the full width of the link*/
		width: 100%;
	}
figcaption {											/*centers the link under the image*/
	text-align: center;
}

div#draggable {
	position: relative;
	width: 300px;
	height: 300px;
	border: solid 1px black;
}
div#draggable div {
	position: absolute;
	padding: 67px 0;
	width: 146px;
	height: 12px;
	border: solid 2px black;
	text-align: center;
	color: black;
}
#draggable .top {
	top: 0;
}
	#draggable .top.left {
		background-color: red;
	}
	#draggable .top.right {
		background-color: yellow;
	}
#draggable .bottom {
	bottom: 0;
}
	#draggable .bottom.left{
		background-color: blue;
	}
	#draggable .bottom.right {
		background-color: green;
	}
#draggable .left {
	left: 0;
}
#draggable .right {
	right: 0;
.sites {
	width: ;
}
